{% extends "accounts/master.html" %}
{% load widget_tweaks %}
{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
            <div class="mb-3">
                <label for="">Username</label>
                <input type="text" name="username" class="form-control">
            </div>
            <div class="mb-3">
                <label for="">Password</label>
                <input type="password" name="userpassword" class="form-control">
            </div>
            {% for message in messages  %}
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
            {% endfor %}
        <button type="submit" class="btn btn-info">Submit</button>
    </form>
{% endblock content %}